@import "bootstrap/scss/bootstrap.scss";

/* Bootstrap Customized */
.main_container {
  display: grid;
  grid-template-columns: 26rem auto;
  height: 100vh;
}

.hover_text_white {
  &:hover,
  &:active {
    color: $white;
  }
}
.border-rounded-lg {
  border-radius: 1.2rem;
}
.btn_lg {
  padding: 1rem 5.5rem;
}
.hr {
  // background-color: #e2e8f0;
  margin: 0 !important;
}

//Helper
.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/*reset */
html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a {
  cursor: pointer;
  text-decoration: none;
}
li {
  list-style: none;
}
table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
td {
  text-align: initial;
}
button {
  border: none;
  cursor: pointer;
}
/*reset end*/
